//COLORS

$black: #000;
$red: #F26060;
$light-blue:#A5E7F7;
$gray:#939599;


//MAIN FONT
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Poppins:wght@500&display=swap');

//FONT SIZE
$xx-large: 4.375rem;
$x-large: 2.5rem;
$large: 1.375rem;
$medium: 1rem;
$small: 0.875rem;

//BREAKPOINT 

$min-laptop: 768px;
$max-mobile:576px;